.form-login label {
  font-size: 14px;
  margin-inline-start: 4px;
}

.form-login input {
  font-size: 14px;
  /* margin-inline-start: 4px; */
  padding: 12px 16px;
  border-radius: 6px;
}

.form-login fieldset:first-child {
  margin-bottom: 12px;
}

.login-btn {
  padding-top: 12px;
  padding-bottom: 12px;
  background: #e50047;
  font-size: 14px;
  color: #FFFFFF;
  border-radius: 6px;
  border: none;
}

.login-btn:hover {
  background: #b30037;
  border: none;
  color: #FFFFFF;

}

.engaz-logo img {
  width: 100%;
  height: auto;
}

.engaz-logo {
  width: calc(30% - 16px);
  height: auto;
  margin-bottom: 40px;
}

.page-login {
  background-color: #CCCFD1;
  height: 100vh;
}

.form-login {
  background-color: #FFFFFF;
  box-shadow: 0px 25px 50px #000F1A1A;
  border-radius: 8px;
  padding: 48px;
}

.label-disc {
  position: absolute;
  font-size: 16px;
  color: #666f70;
  top: 50%;
  right: 8px;
  cursor: pointer;
}

.invalid-user {
  width: 100%;
  padding: 12px 12px 12px 16px;
  font-size: 14px;
  border-radius: 6px;
  color: #e50047;
  background-color: #ffe5ed;
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.register {
  margin-top: 16px;
  text-align: start;
  width: 100%;
}

.register a {
  cursor: pointer;
  color: rgb(21, 21, 200);
}